<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
</head>
<body>
    <form action="/img" method="post" enctype="multipart/form-data">
        <label for="img">Upload Image</label>
        <input type="file" name="photo" id="img">
        <button>Submit</button>
    </form>
</body>
</html>